<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Visão Geral</title>
</head>
<body>
    <div class="container">

      <h1>Informações Do Paciente</h1>
      <hr>
    <form method="POST" action="/finished">
      <div class="mb-3">
        <label for="name" class="form-label">Nome do Paciente</label>
        <input type="text" value = "<%=data.name%>"class="form-control" name='name'id="name" placeholder="example name">
       
      </div>
      <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" value = "<%=data.email%>"class="form-control" id="email"name='email' placeholder="example@email.com">
        </div>
      <div class="mb-3">
          <label for="cpf" class="form-label">CPF</label>
          <input type="number"value = "<%=data.cpf%>" disabled class="form-control cpf" id="cpf"name='cpf' placeholder="000.000.000-00">
        </div>
      <div class="mb-3">
          <label for="descriptio" class="form-label">Descrição</label>
          <input type="text" value = "<%=data.description%>" disabled class="form-control" id="decription"name='description' placeholder="">
        </div>
      <div class="mb-3">
          <label for="date" class="form-label">Data</label>
          <input type="date" class="form-control"value = "<%=data.date%>" id="date" name='date'placeholder="01/01/2000">
        </div>
      <div class="mb-3">
          <label for="time" class="form-label">Horário</label>
          <input type="time" class="form-control" value = "<%=data.time%>"id="time" name='time'>
        </div>
        
        <input type="hidden"value = "<%=data._id%>"id="id" name='id'>
            <% if(data.finished == false) { %>
            <button type="submit" class="btn btn-primary block">Finalizar Consulta</button>
            <% } %>
        </form>
        </div>
    </div>






</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>